.custom-button {
    color: black;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: bold;
    background-color: #eeeeee;
    transition: 0.4s;
}

.custom-button:hover {
    cursor: pointer;
    background-color: #cbc9c9;
    transition: 0.4s;
}

.custom-button.disabled {
    background-color: #cccccc !important;
    color: #666666;
    border: 2px solid #aaaaaa;
    cursor: not-allowed;
}
