
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    color:black;
}

.custom-table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.custom-table th,
.custom-table td {
    text-align: left;
    padding: 8px;
}

.custom-table th {
    background-color: #fff;
    color: #606060;
    font-size: 10px;
    font-weight: bold;
    border-bottom: 2px solid #a9a9a9;
}

.custom-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.custom-table tr:hover {
    background-color: #ddd;
}

.custom-table td {
    vertical-align: middle;
}

.custom-table th {
    text-align: left;
}

.custom-table td div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
}
